body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(images/Data-Mining-2.jpg);
}

.first-sec {
    display: flex;

}

h1 {
    font-size: 45px;

}

.first-image img {
    width: 50%;
    margin-left: 10px;
    padding-top: 4%;
}

.sectionp {
    padding-left: 3%;
}

.personal-info {
    padding-right: 30px;
    width: 100%;
}

.name {
    color: deeppink;
}

.contact {
    text-decoration: none;
    background-image: linear-gradient(orange, pink);
    border-radius: 6px;
    padding: 10px 20px;
}

.contact:hover {
    color: red;
    background-image: linear-gradient(blue, green);
}

.second-sec {
    display: flex;
}

.second-image img {
    width: 50%;
    padding-left: 5%;
    padding-top: 20%;
}

.personal-infof {
    padding-right: 30px;
    width: 100%;
    padding-top: 15%;
}

.dream-color {
    color: rgb(251, 70, 4);
}

.web-color {
    color: rgb(0, 255, 191);
}